<div class="flex flex-col items-center w-full">

  <!-- Hero sin barra de búsqueda -->
    <div *ngIf="cargando">Cargando ...</div>
    <div *ngIf="error">{{ error }}</div>
 <div *ngIf="Hotel"
     class="w-full h-[80vh] sm:h-[90vh] flex flex-col items-center justify-center bg-center bg-cover relative"
     [style.background-image]="'linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(' + Hotel.imagenUrl + ')'">

    <div class="text-center text-white px-4 max-w-3xl">
      <h1 class="text-4xl sm:text-5xl font-black mb-4 leading-tight">Encuentra tu Habitación perfecta</h1>
      <p class="text-sm sm:text-lg">Descubre una amplia variedad de habitaciones que se adaptan a tus necesidades y presupuesto.</p>
    </div>
  </div>

  <!-- Habitaciones populares -->
  <h2 class="text-gray-900 text-2xl font-bold mt-10 mb-4 w-full max-w-5xl px-4">
    Habitaciones populares
  </h2>

  <!-- Scroll horizontal -->
  <div class="flex overflow-x-auto gap-4 w-full max-w-5xl px-4 scrollbar-none py-2">

    <!-- Iteración habitaciones -->
    <div *ngFor="let h of Habitacion" class="min-w-[15rem] flex flex-col gap-2">
      <!-- Imagen de la habitación -->
      <div class="aspect-video bg-cover bg-center rounded-lg"
           [style.background-image]="'url(' + h.imagenUrl + ')'">
      </div>

      <!-- Texto -->
      <p class="text-gray-900 font-medium">{{h.tipo}}</p>
      <p class="text-gray-500 text-sm">{{h.descripcion}}</p>
    </div>

    <!-- Ver más (solo una vez) -->
    <div class="min-w-[15rem] flex flex-col gap-2 justify-center items-center bg-gray-100 rounded-lg">
      <a class="text-blue-600 font-medium hover:underline" routerLink="/habitaciones">Ver más</a>
      <p class="text-gray-500 text-sm">Más Habitaciones</p>
    </div>

  </div>
</div>
